.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  flex-direction: column;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.keys-wrapper {
  width: 780px;
  margin: 50px auto;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}
.legend {
  width: 780px;
  margin: 0 auto;
}

.keyAnimation {
  animation-name: keyShape;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-direction: alternate;
  border: radius 50%;
}

@keyframes keyShape {
  from {
    border-radius: 0;
  }
  to {
    border-radius: 50%;
  }
}
